<!doctype html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="en-EN"/>
    <meta charset="utf-8"/>
    <meta name="robots" content="none"/>
    <meta name="description" content="Home video surveillance service login page"/>
    <meta name="keywords" content="video surveillance, house, security"/>
    <meta name="author" content="Thomas"/>
    <meta name="copyright" content="none"/>
    <meta name="theme-color" content="#e0ffff"/>
    <title>Motion webmonitor</title>
    <link rel="stylesheet" media="screen and (min-width: 1081px)" href="/style/style.css" type="text/css"/>
    <link rel="stylesheet" media="screen and (max-width: 1080px)" href="/style/mstyle.css" type="text/css"/>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
</head>
<body>
<section class="zoneAuth">
    <h1>Connection</h1>
    <h2>Access the management interface</h2>
    <form name="formConnect" action="/auth" method="post" onsubmit="return validateForm();">
        <input type="text" name="login" placeholder="Login" autocomplete="off" value="" class="champText"
               id="champLogin"/>
        <span class="underline"></span>
        <input type="password" name="password" placeholder="Password" autocomplete="off" class="champText"/>
        <span class="underline"></span>
        <!-- <input type="hidden" name="token" id="token" value="4882776941dad60a8d4950b50e46168075e0b64d4ae4d89b4912636cb51cfaf1" /> -->
        <p><input type="submit" value="Connexion" class="boutonConnect"/></p>
    </form>

</section>
<div class="erreurConnect" id="erreurConnect" title="Click to hide"></div>
<script>
    var erreur = "";
    var erreurConnect = document.getElementById('erreurConnect');
    if (erreur === "") {
        erreurConnect.style.display = "none";
    } else {
        erreurConnect.style.display = "inline-block";
        erreurConnect.innerHTML = erreur;
    }
</script>
<script src="script/script.js" async defer></script>
</body>

</html>
