{{define "managementHeader"}}
    <!doctype html>

    <html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="Content-Language" content="fr-FR"/>
        <meta charset="utf-8">
        <meta name="robots" content="none"/>
        <meta name="description" content="Page de gestion du service de vid&eacute;osurveillance de la maison"/>
        <meta name="keywords" content="vid&eacute;osurveillance, maison, s&eacute;curit&eacute;"/>
        <meta name="author" content="Thomas"/>
        <meta name="copyright" content="none"/>
        <meta name="theme-color" content="#e0ffff"/>
        <title>House monitoring</title>
        <link rel="stylesheet" media="screen and (min-width: 1081px)" href="/style/style.css" type="text/css"/>
        <link rel="stylesheet" media="screen and (max-width: 1080px)" href="/style/mstyle.css" type="text/css"/>
        <link rel="icon" type="image/png" href="/images/favicon.png"/>
    </head>
    <body>
    <header>
        <h1>Monitoring</h1>
        <h2>Remote home video surveillance management interface</h2>
    </header>
    <nav>
        <ul>
            <li><a href="/surv">Live monitoring</a></li>
            {{ if .hasSavesDir }}
                <li><a rel="prefetch" href="/savedfiles">Saved images/videos</a></li>
            {{end}}
            <li><a href="/disconnect" title="Close the session and go back on the main page">Disconnect</a>
            </li>
        </ul>
    </nav>
    <aside>
        Motion service state: <span id="stateMotionServiceText">Unknown</span>
        <button id="buttonStartStop" class="boutonStartStop" value="STOP">START</button>
    </aside>
{{end}}