{{define "managementFooter"}}
    </body>
    <script>
        const buttonStartStop = document.getElementById('buttonStartStop');
        const stateMotionServiceText = document.getElementById('stateMotionServiceText');
        let currentMotionState = 0; // 0 = Unknown, 1 = started, 2 = stopped
        window.onload = checkMotionServiceState;

        function startStopMotion(param) {
            buttonStartStop.disabled = true;
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    if (this.responseText != "") {
                        alert(this.responseText);
                        buttonStartStop.disabled = false;
                    } else {
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    }
                }
            };
            xhttp.open("GET", "/surv/startstopmotion.php" + param, true);
            xhttp.send();
        }

        function checkMotionServiceState() {
            let xhttp = new XMLHttpRequest();
            stateMotionServiceText.innerHTML = "Unknown";
            currentMotionState = 0;
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    if (this.responseText == "active") {
                        stateMotionServiceText.innerHTML = "Active";
                        currentMotionState = 1;
                    } else if(this.responseText == "inactive") {
                        stateMotionServiceText.innerHTML = "Inactive";
                        currentMotionState = 2;
                    }
                }
            };
            xhttp.open("GET", "/startstopmotion?action=check", true);
            xhttp.send();
        }
    </script>
    </html>
{{end}}