{{ template "managementHeader" .}}
<section class="zoneManagement">
    <h1>Live monitoring</h1>
    <div class="zoneChoixCamera">
        {{- range $id := .numCams }}
            <label class="containerRadioCam">Camera {{ $id }}
                <input type="radio" name="radioChoiceCam">
                <span class="checkmarkRadioCam"></span>
            </label>
        {{- end }}
    </div>
    <img src="/camera/0" title="Live monitoring" alt="Live monitoring camera (streaming)"
         class="imgStream" id="imgStream" loading="lazy"/>
</section>
<script>
    const imgStream = document.getElementById('imgStream');
    const radioChoiceCam = document.getElementsByName('radioChoiceCam');
    let previousSelectedCamera = 0;

    function changeRadioCam(id) {
        imgStream.src = "/camera/" + id;
    }

    function defineRadioCamCallbacks() {
        radioChoiceCam.forEach(function (radio, i) {
            radio.checked = (i == previousSelectedCamera);
            radio.onchange = function () {
                changeRadioCam(i);
                sessionStorage.setItem('camSelected', i);
            }
        });
    }

    function checkPreviousSelectedCamSessionStorage() {
        let prev = sessionStorage.getItem('camSelected');
        if (prev === null) {
            return;
        }
        prev = parseInt(prev);
        if (prev < 0 || prev > radioChoiceCam.length) {
            return;
        }
        previousSelectedCamera = prev;
        changeRadioCam(previousSelectedCamera);
    }

    checkPreviousSelectedCamSessionStorage();
    defineRadioCamCallbacks();
</script>
{{ template "managementFooter" .}}