{{ template "managementHeader" .}}
<section class="zoneGestion">
    <h1>Surveillance en direct</h1>
    <div class="zoneChoixCamera">
        <label class="containerRadioCam">Cam&eacute;ra 1
            <input type="radio" name="radioChoixCam" id="radioChoixCam1" onchange="changeRadioCam();">
            <span class="checkmarkRadioCam"></span>
        </label>
        <label class="containerRadioCam">Cam&eacute;ra 2
            <input type="radio" name="radioChoixCam" id="radioChoixCam2" onchange="changeRadioCam();">
            <span class="checkmarkRadioCam"></span>
        </label>
    </div>
    <img src="/camera/1" title="Surveillance en direct" alt="Camera de surveillance en direct (streaming)" class="imgStream" id="imgStream" loading="lazy" />
</section>
{{ template "managementFooter" .}}